 
<body style="background-color:#001CA7">
 /* Container needed to position the overlay. Adjust the width as needed */
.container {
  /*box-sizing: border-box;*/
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.body {
        font-family: 'Roboto';
        font-size: 48px;
}

.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 3s ease;
}

.inner {
  position: absolute;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
 
  /*font-size: 50px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 